html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-self: space-evenly;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.left::after {
    content: "";
    position: fixed;
    left: -1%;
    top: -5%;
    z-index: -1;

    display: block;
    background-image: url('edgar-castrejon-1CsaVdwfIew-unsplash.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: inherit;
    height: 110%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.logo-text {
    width: 100%;
    font-size: 128px;
    font-weight: bold;
}

.logo-text div:nth-child(2) {
    text-align: center;
 }

 .logo-text div:nth-child(3) {
    text-align: right;
 }
 

.banner-strip {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    background-color: rgb(0, 0, 0, 0.25);
    margin-top: calc(calc(100vh - 462px)/2);;
}

.img-credit {
    color: white;
    text-align: center;
}

a {
    color: orange;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 64%;
    background-color: rgb(255, 227, 216);
}

.cta-section,
.btn-section {
    box-sizing: border-box;
    height: calc(calc(100vh - 462px)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 25px;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 462px;
    background-color: lightsalmon;
    box-shadow: 0 8px 6px -6px lightgrey;
    padding: 0 0 0 25px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    min-width: 670px;
    margin-top: 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.input-container:nth-of-type(odd) {
    margin-right: 50px;
}

.input-container:nth-of-type(even) {
    margin-right: 200px;
}


.input-container input {
    background-color: rgb(255, 227, 216);
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

.input-container input.error {
    border: 1px solid rgb(126, 0, 0);
}

#signup.btn {
    border: 1px solid transparent;
    border-radius: 9px;
    background-color: orange;
    font-size: 18px ;
    font-weight: bold;
    padding: 18px 36px;
}

#signup.btn:hover,
#signup.btn:active {
    background-color: black;
    color: rgb(163, 90, 0);
}

.msg.error {
    font-weight: bold;
    color: rgb(126, 0, 0);  
}

@media only screen and (max-width: 1350px)  {
    .logo-text > div {
        font-size: 69px;
    }
}

@media only screen and (max-width: 918px)  {
    .logo-text > div {
        font-size: 49.5px;
    }
}